@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #09192f;
  font-family: "lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
html::-webkit-scrollbar {
  width: 10px;
}
li {
  list-style: none;
  color: #ccd6f6;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 255, 218);
  border-radius: 10px;
  height: 5px;
}
